<!doctype html>
<html class="no-js">
<head>
  <%- bootstrap %>
  <title>Example | Empire.js</title>
  <script type="text/javascript">
    document.documentElement.className = '';
  </script>
</head>
<body>
  <svg width="630" height="630" viewBox="0 0 630 630" preserveAspectRatio="xMinYMin meet" style="display:block;margin:0 auto">
    <g data-pagelet="background"></g>
    <g data-pagelet="j"></g>
    <g data-pagelet="s"></g>
  </svg>
</body>
</html>